# print

In [1]:
print("Hello, World")

Hello, World

In [3]:
import requests
resp = requests.get("http://olympus.realpython.org")
html = resp.text
print(html[86:132])

<h2>Please log in to access Mount Olympus:</h2

# valid invalid identifier names

# operators

# datatypes & datatype check

In [8]:
type("rak")

str

# string methods

In [10]:
len("abc")

3

In [11]:
"abc"+"def"

'abcdef'

In [21]:
"abc"+" " + "def"

'abc def'

In [12]:
"abc"*2

'abcabc'

In [13]:
"abc"[0]

'a'

In [14]:
"abcdef"[:]

'abcdef'

In [22]:
"abcdef"[0:]

'abcdef'

In [23]:
"abcdef"[:6]

'abcdef'

In [15]:
"abcdef"[1:3]

'bc'

In [19]:
"abcdef"[::-1]

'fedcba'

In [20]:
"abcdef"[-2]

'e'

In [25]:
"abcdef"[-5:-1]

'bcde'

In [27]:
"abcdef"[-7:0]

''

#### strings are immutable

In [28]:
"abcdef"[0]='k'

TypeError: 'str' object does not support item assignment

In [30]:
"abcdef".upper()

'ABCDEF'

In [32]:
"AeDFGh".lower()

'aedfgh'

In [37]:
stripvar="I am Raks "
stripvar

'I am Raks '

In [36]:
stripvar.strip()

'I am Raks'

In [34]:
" I am Raks ".strip()

'I am Raks'

In [45]:
"I am Raks  ".lstrip()

'I am Raks  '

In [43]:
"   I am Raks  ".rstrip()

'   I am Raks'

In [46]:
"abcdef".startswith("x")

False

In [49]:
"abcdef".endswith("f")

True

In [1]:
a=input("enter a value")
a

enter a value4

'4'

# Exercises

In [ ]:
# Write a program that IDLE won’t run because it has a syntax error.

In [6]:
a="my name
a

SyntaxError: unterminated string literal (detected at line 1) (2591368228.py, line 1)

In [ ]:
# Write a program that crashes only while it’s running because it has a runtime error.

In [7]:
print(name)

NameError: name 'name' is not defined

In [ ]:
# Using the interactive window, display some text using print().

In [ ]:
print("Hi, this is a print statement")

In [ ]:
# Using the interactive window, assign a string literal to a variable.Then print the contents of the variable using the print() function

In [9]:
name=input("enter a name")
print(name)

enter a nameraks
raks

In [ ]:
# Repeat the first two exercises using the editor window.

In [ ]:
# Print a string that uses double quotation marks inside the string.

In [10]:
print('This string has "double quotes"')

This string has "double quotes"

In [ ]:
# Print a string that uses an apostrophe inside the string.

In [11]:
print("This string has 'apostrophe")

This string has 'apostrophe

In [ ]:
# Print a string that spans multiple lines with whitespace preserved.

In [13]:
print(" This is first line\n this is second line\nthis is third ")

 This is first line
 this is second line
this is third

In [ ]:
# Print a string that is coded on multiple lines but gets printed on a single line

In [17]:
print(" This is first line \
this is second line \
this is third ")

 This is first line this is second line this is third

In [ ]:
# Create a string and print its length using len().

In [18]:
st="string"
len(st)

6

In [ ]:
# Create two strings, concatenate them, and print the resulting string

In [19]:
st1="abcd"
st2="defg"
print(st1+st2)

abcddefg

In [ ]:
# Create two strings, use concatenation to add a space between them, and print the result.

In [20]:
print(st1 + " " + st2)

abcd defg

In [ ]:
# Print the string "zing" by using slice notation to specify the correct range of characters in the string "bazinga".

In [21]:
print("bazinga"[2:6])

zing

In [ ]:
# Write a program that converts the following strings to lowercase: "Animals", "Badger", "Honey Bee", "Honey Badger". Print each lower- case string on a separate line.

In [23]:
print("Animals".lower())
print("badger".lower())
print("Honey Bee".lower())
print("Honey Badger".lower())

animals
badger
honey bee
honey badger

In [ ]:
# Repeat exercise 1, but convert each string to uppercase instead of lowercase.

In [27]:
print("Animals".upper())
print("badger".upper())
print("Honey Bee".upper())
print("Honey Badger".upper())

ANIMALS
BADGER
HONEY BEE
HONEY BADGER

In [ ]:
# Write a program that removes whitespace from the following strings, then print out the strings with the whitespace removed:
# string1 = " Filet Mignon"
# string2 = "Brisket "
# string3 = " Cheeseburger "

In [30]:
string1 = " Filet Mignon"
string2 = "Brisket "
string3 = " Cheeseburger "
print(string1.strip())
print("Brisket ".strip())
print(string3.strip())

Filet Mignon
Brisket
Cheeseburger

In [ ]:
# Write a program that prints out the result of .startswith("be") on each of the following strings:
# string1 = "Becomes"
# string2 = "becomes"
# string3 = "BEAR"
# string4 = " bEautiful"

In [33]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = " bEautiful"
print(string1.startswith('be'))
print(string2.startswith('be'))
print(string3.startswith('be'))
print(string4.startswith('be'))

False
True
False
False

In [ ]:
# Using the same four strings from exercise 4, write a program that uses string methods to alter each string so that .startswith("be") returns True for all of them

In [37]:
print(string1.lower().startswith('be'))
print(string2.lower().startswith('be'))
print(string3.lower().startswith('be'))
print(string4.lower().startswith('be'))

True
True
True
False

In [ ]:
# Write a program that takes input from the user and displays that input back.

In [39]:
str=input("enter a string")
print(str)

enter a stringstr
str

In [ ]:
# Write a program that takes input from the user and displays the input in lowercase.

In [42]:
str=input("enter a string")
print(str.lower())

enter a stringrAK
rak

In [ ]:
# Write a program that takes input from the user and displays the number of characters in the input.

In [40]:
str=input("enter a string")
print(len(str))

enter a stringstring
6

In [ ]:
# Create a string containing an integer, then convert that string into an actual integer object using int(). Test that your new object is a number by multiplying it by another number and displaying the result.

In [43]:
st2="234"
st2=int(st2)
print(st2*3)

702

In [ ]:
# Repeat the previous exercise, but use a floating-point number and float()

In [44]:
st2="234"
st2=float(st2)
print(st2*3)

702.0

In [ ]:
# Create a string object and an integer object, then display them side by side with a single print statement using str().

In [ ]:
# Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together, and displays the result. If the user enters 2 and 4, then your program should print the following text:
#The product of 2 and 4 is 8.0.

In [ ]:
# Create a float object named weight with the value 0.2, and create a string object named animal with the value "newt". Then use these objects to print the following string using only string concatena-tion: 0.2 kg is the weight of the newt

In [ ]:
# Display the same string by using .format() and empty {} placeholders.

In [ ]:
# Display the same string using an f-string